<footer>
  <small>
    This project is by <a href="https://geauxweisbeck4.dev">GeauxWeisbeck4</a> 2022.
    You can find more of my work <a href="https://github.com/geauxweisbeck4/">here on my GitHub</a>.
  </small>
</footer>
